a.action {
    color: #003;
}
a.action:hover {
    color: #448;
}
div.location_heading {
    /*  font-weight: bold; */
    font-size: 120%;
    font-family: sans-serif;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
}
div.game_title {
    font-weight: bold;
    font-size: 150%;
    font-family: sans-serif;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
}
.user_response {
/*    overflow: hidden;*/
    white-space: nowrap;
}
#commandform {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#command {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    font-weight: bold;
    font-family: serif;
    font-size: 100%;
}
.user_response_table {
    border-spacing: 0px;
}
.user_response_table td {
    padding: 0px;
}
div.block_floats {
    clear: both;
    width: 100%;
    height: 1px;
    margin: 0 0 -1px 0;
}
#headline {
    width: 610px;
    color: #fff;
    background-color: #000;
    position: fixed;
    left: 0; top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: sans-serif;
}
#headline a.action {
    color: #fff;
    text-decoration: none;
}
#headline a.action:hover {
    color: #ccc;
}
#main {
    width: 600px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2em;
}

img.desc_img {
    display: block;
    padding: 0 1em 1em 0px;
}
img.desc_img_left {
    float: left;
    padding: 5px 1em 1em 0px;
}
body {
    font-family: serif;
}
#examples {
    font-size: 90%;
    margin-top: 0.5em;
}
